<div class="page-content">
  <div class="header-item">
    <h2>Our Directory</h2>
    <div class="search-box">
      <div class="form-group">
        <input
          class="form-control form-control-md"
          type="text"
          placeholder="Search"
          [(ngModel)]="searchText"
          (keyup)="searchItem($event)"
        />
      </div>
    </div>
  </div>
  <div class="dir-list">
    <div class="dir-item-list">
      <app-directory-cards
        class="directory-item"
        [cardInfo]="item"
        *ngFor="let item of filteredItemList; let i = index"
      ></app-directory-cards>
    </div>
    <p *ngIf="filteredItemList?.length == 0">No items found</p>
  </div>
</div>
